<div class="boba-lovers">
    <section>
        <div>
            <h1>A Nation of Boba Lovers: Consumption Habits and Demographics</h1>
            <p>In Taiwan, over 1 billion cups of hand-shaken drinks are sold each year, with young adults aged 20–29 being the most avid consumers. More than 40% of people drink sweet beverages three times a week or more. The drink is no longer a treat but a daily ritual, deeply embedded in Taiwan's social fabric and youth culture.</p>
            <p>
                Recent surveys show that 94% of Taiwanese aged 20-29 have consumed bubble tea in the past three months, with over 40% drinking sweet beverages three times weekly or more...</p>
        </div>
        <div><img src="img/stocks/boba-lovers-1.jpg"></div>
    </section>  

    <section>
        <div><img src="img/drinks/drinks.png"></div>
        <div>
            <h1>Rapid Growth and Innovation Strategies in Taiwan's Bubble Tea Market</h1>
            <p>The number of bubble tea brands in Taiwan has significantly increased. According to statistics from the Ministry of Finance, the number of beverage stores reached a historic high of 22,000 in 2022. This has led to more intense market competition, requiring brands to respond by creating star products, enhancing marketing and community management, and establishing efficient supply chains and rapid store expansion models. Additionally, some brands have started to implement dual-brand strategies or collaborate with IPs to meet the needs of different consumer groups, such as the collaboration between FamilyMart’s Formosa Tea House and Shake Tea Bar.</p>
        </div>

    </section> 
</div>