<div class="container">
    <div id="comicSection">
        <div class="wrapper">
            <div class="section"><img src="img/comic/comic-1.png" alt="Comic 1"></div>
            <div class="section"><img src="img/comic/comic-2.png" alt="Comic 2"></div>
            <div class="section"><img src="img/comic/comic-3.png" alt="Comic 3"></div>
            <div class="section"><img src="img/comic/comic-4.png" alt="Comic 4"></div>
            <div class="section"><img src="img/comic/comic-5.png" alt="Comic 5"></div>
        </div>
    </div>
</div>

<script src="../scripts/comic.js"> </script>