
    <div class="section" id="section">
      <div class="story-text"><p>One day, this is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just testthis is just test</p></div>
      <div class="story-text"><p>Maybe we should test some text that is differnet tahn just copy</p></div>
     
      <img src="img/comic/comic-1.png" alt="Image 1" class="image" />
      
      <img src="img/comic/comic-2.png" alt="Image 2" class="image" />
      
      <img src="img/comic/comic-3.png" alt="Image 3" class="image" />
      <img src="img/comic/comic-4.png" alt="Image 4" class="image" />
      <img src="img/comic/comic-5.png" alt="Image 5" class="image"/>
    </div>
  <!-- Info panel to display scroll data -->
  <div class="info-panel">
    <div class="info-item">
      <strong>Scroll Position:</strong> <span id="scrollTop">0</span>px
    </div>
    <div class="info-item">
      <strong>Scroll Percentage:</strong> <span id="scrollPercent">0</span>%
    </div>
    <div class="info-item">
      <strong>Section Height:</strong> <span id="sectionHeight">0</span>px
    </div>
    <div class="info-item">
      <strong>Container Height:</strong> <span id="containerHeight">0</span>px
    </div>
    <div class="info-item">
      <strong>Current Image:</strong> <span id="currentImage">None</span>
    </div>
    <div class="progress-bar">
      <div class="progress-fill" id="progressFill"></div>
    </div>
  </div>
