<div class="article" id="chap2">
  <div class="chapter-intro">
    <div class="chapter-title">
      <b
        ><p style="font-size: 2.5rem;">
          But, where's the <span style="font-size: 5rem;">PROBLEM?</span>
        </p></b
      >
    </div>

    <div class="chapter-description">
      <p>
        However, the love for bubble tea has not come without its consequences.
        While bubble tea is undeniably delicious, many variants of this drink
        are packed with high amounts of sugar and calories, especially those
        served with milk and flavored syrups.
      </p>
    </div>
  </div>

  <!-- <div><img src="img/stocks/diabetes.png"></div> -->
  <div>
    <h1>High Sugar Content in Bubble Tea</h1>
    <p>
      Bubble tea’s sugar content varies greatly depending on the type of tea,
      toppings, and sweeteners used. On average, a regular-sized cup of bubble
      tea can contain as much as 50–60 grams of sugar, which is roughly
      equivalent to 12 teaspoons of sugar. To put it into perspective, the World
      Health Organization (WHO) recommends a daily sugar intake limit of no more
      than 25 grams for women and 37.5 grams for men, making a single cup of
      bubble tea exceed the recommended daily limit by more than double.
    </p>
    <p>
      Bubble tea’s sugar content varies greatly depending on the type of tea,
      toppings, and sweeteners used. On average, a regular-sized cup of bubble
      tea can contain as much as 50–60 grams of sugar, which is roughly
      equivalent to 12 teaspoons of sugar. To put it into perspective, the World
      Health Organization (WHO) recommends a daily sugar intake limit of no more
      than 25 grams for women and 37.5 grams for men, making a single cup of
      bubble tea exceed the recommended daily limit by more than double.
    </p>
  </div>
</div>
