<div class="concern">
    <div class="concern-title"><b><p style="font-size: 2.5rem;">But, where's the <span style="font-size: 5rem;">PROBLEM?</span></p></b></div>

        <div class="concern-description">
            <p>Excess liquid sugar doesn't trigger satiety the same way solid food does, 
                making it dangerously easy to overconsume. This leads to long-term weight gain, 
                insulin resistance, and systemic inflammation. 
                When Taiwanese consume over 1 billion cups annually, 
                the cumulative health impact becomes a national concern...
            </p>
        </div> 

    <section>
        <!-- <div><img src="img/stocks/diabetes.png"></div> -->
        <div>
            <h1>Ingredients and Sugar Content of Bubble Tea</h1>
            <p>
                The main ingredients in bubble tea typically include syrup, fresh milk, pearls, and other additives, which provide a large amount of calories and sugar. 
                A regular cup of bubble tea contains around 30-40 grams of sugar, equivalent to about 7-8 teaspoons of sugar. According to the Ministry of Health and Welfare in Taiwan, consuming more than 50 grams of sugar per day may increase the risk of developing diabetes.</p>
        </div>

    </section> 
</div>