<div class="article" id="chap4">
  <div class="chapter-intro">
    <div class="chapter-title">
      <b
        ><p style="font-size: 2.5rem;">
          Awareness and <span style="font-size: 5rem;">Solutions</span>
        </p></b
      >
    </div>

    <div class="chapter-description">
      <p>
        In recent years, Taiwanese health organizations have become increasingly
        concerned about the health implications of excessive bubble tea
        consumption. Efforts have been made to raise awareness about the risks
        associated with high sugar intake and to educate the public on how to
        make healthier choices.
        <br /><b
          >And we design a little interactive menu to raise more awareness...</b
        >
      </p>
    </div>
  </div>

  <div>
    <h1>Public Health Efforts and Industry Response</h1>
    <p>
      The Taiwan Ministry of Health and Welfare has started campaigns
      encouraging people to limit their consumption of sugary drinks and to opt
      for lower-sugar alternatives. Some bubble tea shops have also responded by
      offering sugar-free or low-sugar versions of popular drinks, as well as
      natural sweeteners like stevia.
    </p>
    <p>
      Moreover, public health experts are urging boba shops to be more
      transparent about the nutritional content of their drinks and to consider
      providing smaller portions to help curb sugar over-consumption. Some
      bubble tea chains are already displaying the number of calories and sugar
      content on their menus, giving consumers the information they need to make
      more informed choices.
    </p>
  </div>
  <div><img style="aspect-ratio: 16/9;" src="img/photo/solveee.png" /></div>
</div>
