<div id="toTop" class="to-top">
  <p>Click To Top</p>
  <img src="img/sign-board/2.png" class="sign-1" />
</div>
<style>
  .to-top {
    position: fixed;
    bottom: 11%;
    width: 10vw;
    right: -6%;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
  }

  .to-top:hover {
    right: -0.1%;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .to-top p {
    padding-right: 5%;
    font-size: 0.9em;
    opacity: 0;
    transition: all 0.5s ease;
    font-family: "Geist", sans-serif;
    font-weight: 600;
    color: #333333a6;
  }

  .to-top:hover p {
    opacity: 1;
    transition: all 0.5s ease;
  }

  .to-top img {
    width: 100%;
  }
</style>
