.comuc-section {
  width: 100%;
  height: 10000px;
  padding-bottom: 5rem;
  gap: 2%;
  border-bottom: 2px solid #ddd;
}

.comic-image {
  width: 100%;
  position: sticky;
  top: 0%;
  left: 1%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.comic-image.visible {
  opacity: 1;
}

.story-text {
  width: 100%;
  /* height: 4.3%; */
  position: sticky;
  top: 0%;
  left: 66%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  line-height: 2rem;
}

.story-text.visible {
  opacity: 1;
}

/* Info panel to show scroll data */

@media (max-width: 768px) {
  .comuc-section {
    width: 100%;
    height: 100%;
  }
}
