@import "./title.css";
@import "./comic.css";
@import "./article.css";
@import "./chapter.css";
@import "./sugar.css";
@import "./header.css";
body {
  background-color: #f8f7ef;
  /* font-family: "Comic Neue", cursive; */
  /* font-family: "Geist", sans-serif; */
  font-family: "Crimson Text", serif;
  /* border: 3px double #333; */
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 15%;
  margin-top: 2%;
}

p {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.67;
}

h1 {
  margin-top: 0;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 1em;
    box-sizing: border-box;
    margin: 1rem;
    margin-top: 1rem; /*haha*/
  }
}
