heading {
  text-align: center;
}

.logo {
  width: 100%;
}

.logo img {
  width: 50%;
}

h1 {
  box-sizing: border-box;
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  padding: 0% 20%;
}
